.bx-wrapper .bx-prev {
	left: -50px;
	background: url(../images/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
	right: -50px;
	background: url(../images/controls.png) no-repeat -43px -32px;
}